<title>Log In</title>
<center>
<h1>Login Screen</h1>
</center>
<div>
    <form method="post" action="http://127.0.0.1:8000/logged/">
        {% csrf_token %}
        <center>
            Username:
            <input  type="text" maxlength="20" name="username" required="required"><br>
            Password:
            <input type="password" maxlength="20" minlength="6" placeholder="enter at least 6 characters" required="required"><br>
            <button type="submit" class="btn">Log in</button>
        </center>
    </form>
</div>